<%- include('partials/header.ejs'); -%>
    <%- include('components/nav.ejs',{});-%>
        <%- include('components/mainDashboard.ejs')-%>
            <!-- Core plugin JavaScript-->
            <script src="/vendor/jquery-easing/jquery.easing.min.js" defer></script>

            <!-- Custom scripts for all pages-->
            <script src="/js/sb-admin-2.min.js" defer></script>

            <!-- Page level plugins -->
            <script src="/vendor/chart.js/Chart.min.js"></script>

            <!-- Page level custom scripts -->
            <script src="/js/demo/chart-area-demo.js"></script>
            <script src="/js/demo/chart-pie-demo.js"></script>
            <script src="/vendor/jquery/jquery.min.js"></script>

            <script>
                AOS.init();
            </script>
            <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="/parallax.js-1.5.0/parallax.min.js"></script>
            <script src="/alpine/alpine.js" defer></script>
            </body>

            </html>