<section class="splide" aria-label="Splide Basic HTML Example">
    <div class="splide__track ratio ratio-16x9">
        <ul class="splide__list">
            <li class="splide__slide">
                <img src="/images/galerie/andasibe - analamazaotra.jpg" width="100%" height="100%" class="img-fluid" alt="...">
            </li>
            <li class="splide__slide">
                <img src="/images/galerie/andohahela.jpg" width="100%" height="600" class="img-fluid" alt="...">
            </li>
            <li class="splide__slide">
                <img src="/images/galerie//ankarafantsika.jpg" width="100%" height="100%" class="img-fluid" alt="...">
            </li>
        </ul>
    </div>
</section>
<script defer>
        new Splide( '.splide',{
            type   : 'loop',
            autoplay:true,
            interval:3000
    }).mount();
</script>