<div class="row featurette  p-3 border rounded shadow" data-aos="fade-dawn">
    <div class="col-md-5 order-md-2 text-bg-light  border border-0 rounded">
        <h2 class="featurette-heading fw-normal lh-1">


            <%= getContent("home.diagrammePlainte.title","Oh yeah, it’s that good. ") %>
            </h2>
        <p class=" lead">
                <%= getContent("home.diagrammePlainte.body","Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.") %>
        </p>
    </div>
    <div class="col-md-7 order-md-1  p-3">
        <% for (let i=1 ;i<9;i++) { %>
            <img src="/images/diagramme-gestion-plainte/step-<%= i %>.png" data-aos="fade-up" width="100%" alt=""
                srcset="">
            <% } %>
    </div>
</div>