<div class="row featurette" data-aos="fade-up">
    <div class="col-md-5">
        <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-muted">Checkmate.</span>
        </h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really
            intended to be actually read, simply here to give you a better view of what this would look like with some
            actual content. Your content.</p>
    </div>
    <div class="col-md-7">
        <div class="card shadow mb-4">
            <div class="card-header py-3 text-bg-warning">
                <h6 class="m-0 font-weight-bold ">Bar Chart</h6>
            </div>
            <div class="card-body text-bg-light">
                <div class="chart-bar"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                    <canvas id="myBarChart" width="611" height="320" style="display: block; width: 611px; height: 320px;" class="chartjs-render-monitor"></canvas>
                </div>
                <hr>
                Un commentaire...
            </div>
        </div>
    </div>
</div>
