<div class="mb-3 shadow text-bg-light p-3 border rounded">
    <h2>
        <%= getContent("deposerPlainte.Récapitulatif","Récapitulatif") %>
    </h2>
</div>
<div id="recapitulatif" class="shadow text-bg-light p-3 border rounded overflow-auto" style="height:500px;">

</div>