<div class="mb-3 shadow text-bg-light p-3 border rounded">
    <h3 class="text-center">Identité du plaingnant</h3>
</div>
<div class="shadow text-bg-light p-3 border rounded overflow-auto" style="height:500px;">
    <div class="row mb-4">
        <div class="col-md-6 col-sm-12">
            <label for="exampleFormControlInput1" class="form-label">Nom</label>
            <input type="text" class="form-control " id="exampleFormControlInput1" placeholder="Votre nom...">
        </div>
        <div class="col-md-6 col-sm-12">
            <label for="exampleFormControlInput1" class="form-label">Prenom</label>
            <input type="text" class="form-control " id="exampleFormControlInput1" placeholder="Votre prenom...">
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-6 col-sm-12">
            <label for="phone" class="form-label">Télephone</label><br>
            <input type="tet" id="phone" class="form-control input-phone">
        </div>
        <div class="col-md-6 col-sm-12">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" class="form-control" placeholder="Votre e-mail..." aria-label="Server">
        </div>
    </div>

    <div class="">
        <h4>Type de plaignant : </h4>
        <div class="container row">
            <div class="col-md-6 col-sm-12">
                <label for="exampleDataList" class="form-label">Votre metier</label>
                <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
                <datalist id="datalistOptions">
                    <option value="Salarié">
                    <option value="Employeur (ou on représentant)">
                    <option value="Travailleur autonome">
                    <option value="Citoyen">
                    <option value="Collaborateur de la CNT">
                </datalist>
            </div>
        </div>
    </div>
    <div class="">
        <h4>Services CNT sollicité par le plaignant<span class="text-secondary">(cochez
                plus d'un, s'il y a lieu)</span>:</h4>
        <div class="container px-3">
            <div class="row">
                <div class="col">
                    <input type="checkbox" required name="plpec" id="plpec" value="">
                    <label for="plpec">PL PEC</label>
                </div>
                <div class="col">
                    <input type="checkbox" required name="pl124" id="pl124" value="">
                    <label for="pl124">PL 124</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="checkbox" required name="demande_renseignements" id="demande_renseignements" value="">
                    <label for="demande_renseignements">Demande de
                        renseignements</label>
                </div>
                <div class="col">
                    <input type="checkbox" required name="seance_information" id="seance_information" value="">
                    <label for="seance_information">Séance d'information</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="checkbox" required name="pl122" id="pl122" value="">
                    <label for="pl122">PL 122</label>
                </div>
                <div class="col">
                    <input type="checkbox" required name="plhp" id="plhp" value="">
                    <label for="plhp">PL HP</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="checkbox" required name="surveillance_loi" id="surveillance_loi" value="">
                    <label for="surveillance_loi">Surveillance de l'application de la
                        loi</label>
                </div>
                <div class="col">
                    <input type="checkbox" required name="service_autre" id="service_autre" value="">
                    <label for="service_autre">Autre : <input name="service_autre_input" type="text"></label>
                </div>
            </div>
        </div>
    </div>