<div class="mb-3 shadow text-bg-light p-3 border rounded">
    <h2>Récapitulatif</h2>
</div>
<div class="shadow text-bg-light p-3 border rounded overflow-auto" style="height:500px;">
    <div class="row mb-3">
        <h5 class="text-bg-secondary border rounded link">Identité du plaignant :</h5>
        <div>
            <span class="h6">Nom:</span> RABE
        </div>
        <div>
            <span class="h6">Prenom:</span> Rakoto
        </div>
        <div>
            <span class="h6">Télephone:</span> 032 80 715 12
        </div>
        <div>
            <span class="h6">Email:</span> raberakoto@gmail.com
        </div>
        <div>
            <span class="h6">Type de plaignant:</span> Salarié
        </div>
        <div>
            <span class="h6">Services CNT sollicité par le plaignant:</span>
            <ul>
                <li>PL PEC</li>
                <li>Demande de renseignements</li>
                <li>Surveillance de l'application de la loi</li>
            </ul>
        </div>
    </div>
    <div class="row mb-3">
        <h5 class="text-bg-secondary border rounded">Réception de la plainte et dates importantes :</h5>
        <div>
            <span class="h6">Date de receptioin de la plainte:</span> Thu Dec 15 2022
        </div>
        <div>
            <span class="h6">Date de la 1ere communication:</span> Thu Dec 15 2022
        </div>
        <div>
            <span class="h6">Date de fermeture:</span> Thu Dec 15 2022
        </div>
        <div>
            <span class="h6">Mode de reception:</span>
            <ul>
                <li>Télephone</li>
                <li>Courier</li>
            </ul>
        </div>
        <div>
            <span class="h6">Nom et unité administrative du responsable du traitement de la plainte :</span>
            <p class="px-3">
                bla bla bla...
            </p>
        </div>
    </div>
    <div class="row mb-3">
        <h5 class="text-bg-secondary border rounded">Détails de la plainte sur la qualité de service : </h5>
        <div>
            <span class="h6">Version des faits detaillée du client:</span>
            <p class="px-3"> bla bla bla... </p>
        </div>
        <div>
            <span class="h6">Unités administratives et catégories d'emploi visées par la plainte:</span>
            <ul>
                <li>Préposé aux renseignements</li>
                <li>Médiateur</li>
                <li>Avocat</li>
            </ul>
            <p class="px-3"> bla bla bla... </p>
        </div>
    </div>
    <div class="row mb-3">
        <h5 class="text-bg-secondary border rounded">Motifs de la plainte :</h5>
        <div>
            <span class="h6">Motifs de la plainte:</span>
            <ul>
                <li>Préposé aux renseignements</li>
                <li>suivi et retours d'appels</li>
                <li>Protection confidentialité et renseignement personnels</li>
            </ul>
        </div>
    </div>
</div>