<div class="mb-3 shadow text-bg-light p-3 border rounded">
    <h2>Détails de la plainte sur la qualité de service </h2>
</div>
<div class="shadow text-bg-light p-3 border rounded overflow-auto" style="height:500px;">

    <div class="mb-3">
        <figure>
            <blockquote class="blockquote">
                <p>Version des faits detaillée du client</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Prendre toute l'espace nécessaire, chronologie des evenements, noms des personnes impliquées, etc...
            </figcaption>
        </figure>
        <textarea name="" class="form-controlle" id="" cols="100" rows="1"></textarea>
    </div>
    <div class="mb-3">
        <figure>
            <blockquote class="blockquote">
                <p>Unités administratives et catégories d'emploi visées par la plainte</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Cocher plus d'un, s'il y a lieu
            </figcaption>
        </figure>
        <h6>UA :</h6>
        <textarea name="" class="form-controlle" id="" cols="100" rows="4"></textarea>
    </div>
    <div class="mb-3 row">
        <div class="col">
            <input type="checkbox" name="prepose_aux_renseignements" id="prepose_aux_renseignements" >
            <label for="prepose_aux_renseignements">Préposé aux renseignements</label>
        </div>
        <div class="col-2">
            <input type="checkbox" name="mediateur" id="mediateur" >
            <label for="mediateur">Médiateur</label>
        </div>
        <div class="col">
            <input type="checkbox" name="inspecteur_enqueteur" id="inspecteur_enqueteur" >
            <label for="inspecteur_enqueteur">Inspecteur - enqueteur</label>
        </div>
        <div class="col ">
            <input type="checkbox" name="prepose_aux_renseignements" id="prepose_aux_renseignements" >
            <label for="prepose_aux_renseignements" class="wrap">Préposé aux renseignements</label>
        </div>
        <div class="col-2">
            <input type="checkbox" name="avocat" id="avocat" >
            <label for="avocat">Avocat</label>
        </div>
        <div>
            <input type="checkbox" name="details_autre" id="details_autre" >
            <label for="details_autre">Autre : <input type="text" class="form-controlle" name="details_autre_input"></label>
        </div>
    </div>
</div>